<!-- Header -->

<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">
            ¿Sabes cómo se define la demencia?
          </h1>

          <p class="lead text-white-50 mb-4">
            Modelo de Procesamiento Natural de Lenguaje Basado en Contenidos
            para Determinar la Taxonomía de una Definición de Demencia Manejado
            por profesionales de la Salud Mental en el Ecuador
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Features section -->

<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-chat-left-text"></i>
        </div>

        <h2 class="h4 fw-bolder">Introducción</h2>

        <p>
          El problema se debe a que en los últimos años ha existido niveles
          altos de demencia, por lo cual es bueno saber sobre lo que opinan los
          médicos y personas comunes, y saber su definición a que se encuentra
          orientada, la demencia no es una enfermedad específica, sino un grupo
          de trastornos caracterizados por el deterioro de, al menos, dos
          funciones cerebrales, como la memoria y la razón. Los síntomas
          incluyen olvidos, aptitudes sociales restringidas y razonamiento tan
          limitado que interfiere en las actividades diarias. Los medicamentos y
          la terapia pueden ayudar a controlar los síntomas. Algunas causas son
          reversibles.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-book"></i>
        </div>

        <h2 class="h4 fw-bolder">Resumen</h2>

        <p>
          El presente documento presentará una página web, donde se obtendrán
          diferentes conceptos de demencia al ingresar estos conceptos se
          indicará a que se orienta, en este caso existen tres tipos de
          orientaciones las cuales son las siguientes: biomédica,
          psicosocial-comunitaria y cotidiana. ; el usuario ingresa un concepto
          y este indicará que término es similar, además indicará el nivel de
          similitud entre la entrada y las taxonomías. Mediante el Jaccard y el
          coseno vectorial. Para que este sistema funcione correctamente se ha
          probado con definiciones externas de diferentes textos científicos,
          esto se hizo para que la herramienta funcione correctamente. La
          interfaz es amigable, muy intuitiva y fácil de navegar, ya que fue
          diseñada para todo tipo de usuarios.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->

<footer class="py-3 bg-dark mt-auto">
  <div class="container px-5">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
  </div>
</footer>
